
.main {
    border-radius: 0.3rem;
    border: 0.35rem solid rgb(235, 243, 249);
    box-shadow: 0 0 0 0.15rem hwb(208 77% 4%);
    outline: 0.15rem solid hsl(207, 51%, 88%);
    margin: 10rem auto;
    width: 85%;
    height: 50%;
    cursor: pointer;
    background-color: azure;
    font-family: arial black;
}

div+div {
    border-top: 0.13rem outset;
}

input {
  display: none;
}

label {
    color: #4f86ea;
    font-size: 0.65rem;
    cursor: pointer;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}


div + div  div {
    text-align: center;
    display: none;
}

img {
    width: 15rem;
    height: 15rem;
}

input:checked+label+div{
    display: block;
   
}

input:checked+label i {
    transform: rotate(90deg);
    color: black;

}
input:checked+label {    
    color: black;
}